/* Style for the form container */
.formcontainer{
  display: flex;
  align-items: center;
  height: max-content;
}
form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    z-index: 1;
  }
  
  /* Style for form labels */
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  /* Style for form inputs and textarea */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 90%;
    padding: 10px;
    margin: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  textarea{
    height: 100px;
    max-width: 90%;
    max-height: 50vh;
  }
  
  /* Style for the submit button */
  button[type="submit"] {
    background-color: #43329a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #5a4e97;
  }
  /* sizing for small screens */
  @media only screen and (min-width: 280px) and (max-width: 750px) {
    form {
      filter: drop-shadow(2px 2px  rgb(87, 87, 87));
      max-width: 300px;
      margin: 0 auto;
      padding: 20px;
      border: 2px solid #ccc;
      background-color: #f9f9f9;
      border-radius: 5px;
      z-index: 1;
    }

  }
  /* sizing for big screens */
  @media (min-width: 751px)  {
    form {
      filter: drop-shadow(10px 10px 10px  rgb(105, 105, 105));
      max-width: 400px;
      width: 350px;
      margin: 0 auto;
      padding: 20px;
      border: 2px solid #ccc;
      background-color: #f9f9f9;
      border-radius: 5px;
      z-index: 1;
      position: absolute;
      top: 100px;
    }
    .formcontainer{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  